body {
    margin: 0px;
    padding: 8px;

    background-color: #F2F1F0;

    font-family: system-ui, sans-serif;

    color: #555555;
}

h1 {
    margin: 0px;
    padding: 0px;
}

td {
    padding: 15px;
}

tr.secondcolumn {
    background-color: #F2F1F0;
}

table {
    border-collapse: collapse;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

a:link {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

li.current {
    background-color: #366BF4;
    color: #FAF9F8;
}

form.contactForm fieldset {
    margin-top: 25px;
    padding: 10px 10px 10px;
    width: 500px;
}

form.contactForm legend {
    padding: 0 10px;
    font-weight: bold;
}

form.contactForm label {
    float: left;
    width: 130px;
}

form.contactForm input,
textarea {
    width: 220px;
    margin-bottom: 5px;
}

form.contactForm textarea {
    width: 350px;
    height: 150px;
}

#submitbutton {
    margin-left: 0px;
    margin-top: 25px;
    width: 100px;
}

#container {
    width: 100%;
    max-width: 1280px;

    margin: 0 auto 0 auto;
}

#header {
    width: inherit;
    height: 80px;

    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 15px;

    background-color: #366BF4;

    box-shadow: 2px 2px 2px 0px #515151;
}

#header h1 {
    font-size: 36px;
    line-height: 80px;

    color: #FAF9F8;
}

#menu {
    width: auto;
    height: auto;

    margin: 0px 15px 0px 0px;
    padding: 10px;

    float: left;

    background-color: #FAF9F8;

    box-shadow: 2px 2px 2px 0px #515151;
}

#menu li {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
    padding: 0px 10px 0px 10px
}

#menu ul {
    list-style-type: none;
    padding: 0px;
}

#menu a:hover {
    background-color: #F2F1F0;
}

#content {
    width: auto;
    height: auto;

    padding: 10px 15px 10px 15px;

    overflow: hidden;

    background-color: #FAF9F8;

    box-shadow: 2px 2px 2px 0px #515151;
}

#content h2 {
    font-size: 16px;
    line-height: 1.4;

    text-align: center;
}

#content p {
    font-size: 15px;
    line-height: 1.3;
}

#content a {
    color: inherit;
    font-family: inherit;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}